body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.btn{
    height: 50px;
    width: 75px;
    margin: 15px;
    font-size: 40px;
}
.first-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#screen{
    width: 300px;
    border: 1px solid salmon;
    height: 75px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.previous{
    font-size: 20px;
}
.current{
    font-size: 30px;
}
